Repository SlimeKnights/TinkersConstruct, pull requests merged in 2021-04, with the labels that each got.

#4330 Updated Necrotic Bone texture
  src/main/resources/assets/tconstruct/textures/item/materials/necrotic_bone.png
Labels: 1.16, Textures

#4334 Added a smeltery/fuels tag, for smeltery fuels
  src/generated/resources/data/forge/tags/fluids/smeltery/fuels.json
  src/main/java/slimeknights/tconstruct/common/TinkerTags.java
  src/main/java/slimeknights/tconstruct/common/data/tags/TConstructFluidTagsProvider.java
Labels: 1.16, Feature

#4396 Seared Brick Embiggening
  src/main/resources/assets/tconstruct/textures/item/materials/seared_brick.png
Labels: 1.16, Enhancement, Textures
